{%  extends 'layout.html' %}
{% block title %}{{ namespace }} - {{ pod_name }}{% endblock %}
{%  block custom_css %}
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 20px !important;
            font-family: sans-serif;
        }

        label {
            display: block !important;
        }

        label span {
            float: left;
            width: 100px;
            margin-top: 2px;
        }

        label .form-control {
            display: inline !important;
            width: 300px;
        }

        body > div {
            margin-top: 15px;
        }

        kubernetes-container-terminal {

        }
    </style>
    <link rel="stylesheet" href="/static/kubernetes-container/css/patternfly.css">
    <link rel="stylesheet" href="/static/kubernetes-container/css/patternfly-additions.css">
    <link rel="stylesheet" href="/static/kubernetes-container/css/xterm.css">
    <link rel="stylesheet" href="/static/kubernetes-container/css/container-terminal.css">
{% endblock %}
{% block custom_js %}
    <script src="/static/kubernetes-container/js/angular.js"></script>
    <script src="/static/kubernetes-container/js/xterm.js"></script>
    <script src="/static/kubernetes-container/js/container-terminal.js"></script>
    <script type="text/javascript">
    angular.module('exampleApp', ['kubernetesUI'])
        .config(function (kubernetesContainerSocketProvider) {
            kubernetesContainerSocketProvider.WebSocketFactory = "CustomWebSockets";
        })

        .run(function ($rootScope) {
            $rootScope.baseUrl = "{{ k8s_url }}";
            $rootScope.selfLink = "/api/v1/namespaces/{{ namespace }}/pods/{{ pod_name }}";
            $rootScope.containerName = "";
            $rootScope.accessToken = "{{ token }}";
            $rootScope.preventSocket = true;
        })
        /* Our custom WebSocket factory adapts the url */
        .factory("CustomWebSockets", function ($rootScope) {
            return function CustomWebSocket(url, protocols) {
                url = $rootScope.baseUrl + url;
                if ($rootScope.accessToken)
                    url += "&access_token=" + $rootScope.accessToken;
                return new WebSocket(url, protocols);
            };
        });
</script>
{% endblock %}
{% block content %}
<div ng-app="exampleApp">
    <kubernetes-container-terminal pod="selfLink" container="containerName" screen-keys="true"
     autofocus="true" title="远程终端 {{ pod_name }} 命名空间为: {{ namespace }}" cols="110" rows="24" >
    </kubernetes-container-terminal>


</div>
{% endblock %}