{% extends 'layout.html'%}
{% load rbac %}
{% block page_title %}服务器{% endblock %}
{% block page %}服务器{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="/static/bootstrap-table/css/bootstrap-table.css">
     <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>服务器</h5>
                        </div>
                        <div class="ibox-content">
                        <div class="btn-group hidden-xs" id="asset-list-table-Toolbar" role="group">
                            {% if request|has_permission:'host:host_add' %}
                                    <a href="{% url 'host:host_add' %}" class="btn btn-sm btn-default">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>添加主机
                                    </a>
                            {% endif %}
                                <a href="{% url 'host:import' %}" class="btn btn-sm btn-default">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>导入主机
                                    </a>
                                <button type="button" id="batchUp" name="up" class="btn btn-outline btn-default">
                                <i class="fa fa-level-up" aria-hidden="true"> 上线 </i>
                                </button>
                                 <button type="button" id="batchDown" name="down" class="btn btn-outline btn-default">
                                   <i class="fa fa-level-down" aria-hidden="true"> 下线 </i>
                                    </button>
                                </div>
                        <table id="asset-list-table-events"
                               class="table  table-hover"
                               data-url="{% url 'host:assetjson' %}"
                               data-method="get"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-list="[10, 20, 50, 100, ALL]"
                               data-pagination-h-align="left"
                               data-pagination-detail-h-align="right"
                               data-pagination-pre-text="上一页"
                               data-pagination-next-text="下一页"
                               data-pagination-loop="false"
                               data-toolbar="#asset-list-table-Toolbar"
                               data-search="true"
                               data-select-item-name="id"
                               data-search-on-enter-key="true"
                               data-show-refresh="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-page-size=10
                               data-unique-id="id"
                               data-buttons-class="primary"
                               data-icons-prefix="glyphicon"
                               data-icons="icons"
                               data-icon-size="sm"
                               data-icon-aria-hidden="true"
                            data-query-params="queryParams"
                            data-detail-view="true"
                            data-detail-formatter="detailFormatter">
                        </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
{% block custom_js %}
    <script src="/static/bootstrap-table/js/tableExport.min.js"></script>
    <script src="/static/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="/static/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script>
        var $table = $('#asset-list-table-events');
        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
            columns:[[{
            field:'state',
            checkbox:true,
            aligin:'center'
            },
            {field:'id',
            title:'ID',
            sortable:true,
            },
            {field:'wip',
            title:'外网地址',
            sortable: true,
            },
            {field:'nip',
            title:'内网地址',
            sortable:true
            },
            {field:'hostname',
            title:'主机名'},
            {field:'server_type',
            title:'主机类型',
            formatter:function (value,row,index) {
                if(row['server_type']==='physical'){
                    return '<span style="color:#c0dbff">物理机</span>';
                }
                if(row['server_type']==='virtual'){
                    return '<span style="color:#19ddff">虚拟机</span>';
                }
                if(row['server_type']==='instance'){
                    return '<span style="color:#f06292">云主机</span>';
                }
            }
            },
            {field:'status',
            title:'状态',
            formatter:function (value,row,index) {
                if (row['status']==='online'){
                    return '<span style="color:green">上线</span>';
                }
                if (row['status']==='offline'){
                    return '<span style="color:red">下线</span>';
                }
            }

            },
            {field:'cpu',
            title:'CPU',
            visible:false
            },
            {field:'memory',
            title:'内存',
            visible:false
            },
            {field:'disk',
            title:'硬盘',
            visible:false},
            {field:'os',
            title:'操作系统',
            visible:false
            },
            {field:'remote_user',
            title:'远程用户',
            visible:false
            },
            {field:'ctime',
            title:'创建时间'},
            {% if request|has_permission:'host:host_update' or request|has_permission:'host:host_delete' or request|has_permission:'webssh:sshconnect' or request|has_permission:'webssh:filemanage' or request|has_permission:'webssh:dynamicpassword' %}
            {field:'operate',
            title:'操作',
            align: 'center',
            formatter:"operateFormatter"
            }
            {% endif %}
            ]],
            queryParams: function (params) {
            return {
                offset: params.offset,  //页码
                limit: params.limit,   //页面大小
                search : params.search, //搜索
                order : params.order, //排序
                sort : params.sort, //排序
            };
        },
                }
            )
        }
        window.icons = {
            refresh: 'glyphicon-refresh',
            columns: 'glyphicon-list',
            export: 'glyphicon-download',
            detailOpen: 'glyphicon-plus',
            detailClose:'glyphicon-minus',
        };
        function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }
  function operateFormatter(value,row,index){
            return [
                {%  if request|has_permission:'host:host_update' %}
                '<a class="btn btn-xs btn-info" href="/host/host/update/'+row['id']+'/"><i class="fa fa-edit"></i></a>',
                {% endif %}
                {%  if request|has_permission:'webssh:sshconnect' %}
                '<a class="btn btn-xs btn-default" href="/webssh/sshconnect/'+row['wip']+'/'+row['id']+'/"><i class="fa fa-linux"></i></a>',

                {%  endif %}
                '<button type="button" class="btn btn-xs btn-warning" onclick="connecttosshserver('+row['id']+')">putty</button>',
                {%  if request|has_permission:'webssh:filemanage' %}
                '<a class="btn btn-xs btn-default" href="/webssh/filemanage/'+row['wip']+'/'+row['id']+'/"><i class="fa fa-folder-open"></i></a>',
                {%  endif %}
                {%  if request|has_permission:'host:host_delete' %}
                '<a class="btn btn-xs btn-danger" href="/host/host/delete/'+row['id']+'/"><i class="fa fa-trash"></i></a>'
                {%  endif %}
                        ].join('')
  };
        $(function () {
            $("#batchUp,#batchDown,#batchDelete").click(function () {
            var name = $(this).prop('name');
            console.log(name)
            var selections = $table.bootstrapTable('getSelections');
            if (selections.length <= 0) {
                swal({
                    title: "",
                    text: "请选择要处理的主机！"
                });
                return false;
            }
            var ajaxFunc = function () {
                var i = 0;
                var ips = [];
                var status = [];
                if (name == 'delete') {
                    $.each(selections, function () {
                        ips[i] = selections[i]['ip'];
                        status[i] = selections[i]['status'];
                        i++;
                    });
                    if (status.indexOf(0) > -1) {
                        swal({
                            title: "",
                            text: "线上主机禁止删除，请确认！"
                        });
                        return false;
                    }
                }
                else if (name == 'up') {
                    $.each(selections, function () {
                        if (selections[i]['status'] != 0) {
                            ips[i] = selections[i]['id'];
                            status[i] = selections[i]['status'];
                            i++;
                        }
                    });
                } else if (name == 'down') {
                    $.each(selections, function () {
                        if (selections[i]['status'] == 0) {
                            ips[i] = selections[i]['id'];
                            status[i] = selections[i]['status'];
                            i++;
                        }
                    });
                }

                var postInfo = {
                    'ips': ips,
                    'status': status,
                    'deal': name
                };
                var postUrl = "{:url('Host/batchDeal')}";
                var dealStr = {
                    'up': '上线',
                    'down': '下线',
                    'delete': '删除'
                };

                $.ajax({
                    type: "post",
                    url: postUrl,
                    data: {postInfo: postInfo},
                    success: function (data, status) {
                        if (data == 1) {
                            swal({
                                title: "",
                                text: "所选主机" + dealStr[name] + "成功!",
                                type: "success"
                            });
                            $('#hostTable').bootstrapTable('refresh');
                            return true;
                        } else {
                            swal({
                                title: "",
                                text: data,
                                type: "warning"
                            });
                            return false;
                        }

                    },
                    error: function () {
                        swal({
                            title: "",
                            text: name + "请求失败!",
                            type: "warning"
                        });
                        return false;
                    }
                });
            };
            if (name == 'delete') {
                swal({
                    title: "您确定要删除吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        ajaxFunc();
                    }
                });
            } else {
                ajaxFunc();
            }
        });
        })
        $(function(){initTable()})












    </script>
    <script>
    $(function () {
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
    });
        function connecttosshserver(serverid){
        $.ajax({
         type: "POST",
         url: "{% url 'webssh:dynamicpassword' %}",
         data: {"serverid":serverid},
         dataType: "json",
         success: function (data) {
                if (data.status){
                    var sshserver_address = window.location.hostname;
                    var user_pass_dict = data.message;
                    var sshserver_remote_port = 2100;
                    var username = user_pass_dict.username;
                    var temp_pass = user_pass_dict.password;
                    var ssh_protocol_path = "ssh://"+sshserver_address+"#"+sshserver_remote_port+"#"+username+"#"+temp_pass;
                    window.location.href = ssh_protocol_path
                }
         },
         failure: function (errMsg) {
             toastr["error"](errMsg);
         }
     });
    }
</script>
{% endblock %}