{% extends 'layout.html' %}


{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>工作记录</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>工作记录</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
<div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>工作记录 </h5>
                        </div>
                        <div class="ibox-content">
                            <div style="margin-bottom: 10px">
                                <a href="{% url    'workplan:operationlogadd' %}" class="btn btn-sm btn-primary ">添加运维工作记录</a>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>操作人</th>
                                    <th>游戏名</th>
                                    <th>游戏包名</th>
                                    <th>当前版本号</th>
                                    <th>更新版本号</th>
                                    <th>是否线上服</th>
                                    <th>是否跨版本更新</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for log in  all_logs.object_list %}
                                <tr>
                                    <td>{{ log.id }}</td>
                                    <td>{{ log.user }}</td>
                                    <td>{{ log.gname }}</td>
                                    <td>{{ log.game_package }}</td>
                                    <td>{{ log.version_online }}</td>
                                    <td>{{ log.version_updated }}</td>
                                    <td>{{ log.get_game_type_display }}</td>
                                    <td>{{ log.get_is_new_display }}</td>
                                    <td>{{ log.ctime }}</td>
                                    <td data-editable="false" class="text-center pull-left">
                                <a class="btn btn-xs btn-info" href="{% url 'workplan:operationlogupdate'  log.id %}">修改操作日志</a>
                            </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="pageturn">
                 <ul class="pagelist">
          {% if all_logs.has_previous %}
            <li class="long"><a href="?{{ all_logs.previous_page_number.querystring }}">上一页</a></li>
        {% endif %}

        {% for page in all_logs.pages %}
            {% if page %}
                {% ifequal page all_logs.number %}
                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="none"><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        {% if all_logs.has_next %}
            <li class="long"><a href="?{{ all_logs.next_page_number.querystring }}">下一页</a></li>
        {% endif %}
    </ul>
</div>
            </div>
        </div>

{% endblock %}
